alabaster==0.7.12
attrs==21.4.0
Babel==2.9.1
beautifulsoup4==4.10.0
breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
dbus-python==1.2.16
docutils==0.16
dulwich==0.19.15
fastimport==0.9.8
idna==2.8
imagesize==1.3.0
importlib-metadata==4.11.1
Jinja2==3.0.3
markdown-it-py==2.0.1
MarkupSafe==2.1.0
mdit-py-plugins==0.3.0
mdurl==0.1.0
myst-parser==0.17.0
packaging==21.3
pydata-sphinx-theme==0.7.2
Pygments==2.11.2
PyGObject==3.36.0
pyparsing==3.0.7
python-apt==2.0.0+ubuntu0.20.4.7
pytz==2021.3
PyYAML==5.3.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.4.0
sphinx-book-theme==0.2.0
sphinx-copybutton==0.5.0
sphinx-design==0.0.13
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
typing-extensions==4.1.1
urllib3==1.25.8
zipp==3.7.0
